@import "tailwindcss";

:root {
  --background: #0f1115; /* Сразу ставим твой темно-синий */
  --foreground: #ffffff;
}

/* Настройки темы для Tailwind v4 */
@theme {
  /* Регистрация анимации */
  --animate-gradient: gradient 3s linear infinite;

  /* Описание ключевых кадров (keyframes) */
  @keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}