@import "tailwindcss";

@theme {
  /* Цвета Marvel */
  --color-spider-red: #cc0000;
  --color-spider-black: #050505;
  
  /* Анимации */
  --animate-gradient: gradient 3s linear infinite;
  @keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }

  /* Тень для эффекта свечения */
  --shadow-glow: 0 0 20px rgba(204, 0, 0, 0.6);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Скроллбар */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: rgb(93, 0, 0); border-radius: 10px; }